{% extends 'base.html.twig' %}

{% block title %}Animal
{% endblock %}
{% block monTitle %}Liste des Animeaux
{% endblock %}

{% block body %}
	<div class="card-group">


		{% for listAnimau in listAnimaux %}

			<div class="card ml-4">
				<img src="{{asset('images/' ~ listAnimau.image)}}" class="card-img-top" alt="...">

				<div class="card-body">
					<h5 class="card-title">{{listAnimau.nom}}</h5>

					<p class="card-text">{{listAnimau.description}}</p>
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}
